@import '../../../app/globals.scss';

.header-section-button {
    height: 20px;
    display: flex;
    background: $grey-ligth-pest;
    border-radius: 100px;
    
    .direction-portal {
        text-decoration: none;
    }

    .button-gnral {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 8px;
        padding: 2px 8px;
        border-radius: 100px;
        border: none;
        background: transparent;
        color: $grey-middle;
        cursor: pointer;

        .icon {
            width: 10px;
            height: 10px;
        }
    }

    .btn-jobs-ok {
        background:$purple-button;
        color:$white;
        
        &:hover {
            background: darken($purple-button, 5%);
        }
    }
    
    .btn-company-ok {
        background:$pink-button;
        color: $white;
        
        &:hover {
            background: darken($pink-hover, 5%);
        }
    }
}
