@import '../../../app/globals.scss';

.header-section-button{
    display: flex;
    height: 30px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: $grey-ligth-pest;
    border-radius: 25px;
}
