@import '../../../app/globals.scss';
// .search-input {
//     display: flex;
//     align-items: center;
//     gap: 8px;
//     background-color: $white;
//     border-radius: 8px;
//     padding: 8px 12px;
//     border: 1px solid $grey-light;
  
//     .icon {
//       min-width: 20px;
//     }
// }

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: $white;
  border-radius: 20px;
  padding: 8px 16px;
  gap: 8px;

  .icon {
    &.icon-grey {
      color: $grey-middle;
    }

  }

  .search-input {
    border: none;
    background: transparent;
    padding: 0;
    width: 100%;
    
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $grey-middle;
    }
  }
}