@import '../../../app/globals.scss';

.form-gnrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 25px;
}
.btn-jobs-ok {
    width: 100%;
    height: 30px;
    background:$purple-button;
    font-weight: bolder;
    font-size: 12px;
    color:$white;
    border: none;
    border-radius: 8px;
    
    &:hover {
        background: darken($purple-button, 5%);
    }
}

.title-modal{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}

label{
    color: $grey-middle;
    font-size: 14px;
}