@import '../../../app/globals.scss';
.input-focus {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    outline: none;
    font-size: 8px;
    border-radius: 4px;
    border: 1px solid $grey-middle;
    
      &:focus {
        outline:none;
      }
}
