@import '../../../app/globals.scss';

.paginate {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 5px;
    background-color: $white;
    // border:1px solid orange;

    .button-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        background-color:$grey-button-paginations;
        border: none;
        border-radius: 70px 80px ;
        color: $grey-middle;
        cursor: pointer;

        &:hover {
            background-color:$grey-ligth-pest ;
            color: $grey-middle;
        }
    }
}