@import '../../../app/globals.scss';

.btn-add-container {
  // border: 1px solid green;
  text-decoration: none;  
  .button-gnral {
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-size: 12px;
    gap: 8px;
    padding: 2px 8px;
    border: none;
    background: transparent;
    color: $grey-middle;
    cursor: pointer;
    
    .icon {
      width: 15px;
      height: 15px;
    }
  }

  .btn-jobs-add {
    background: $purple-button;
    color: $white;
    
    &:hover {
      background: darken($purple-button, 5%);
    }
  }
  
  .btn-company-add {
    background: $pink-button;
    color: $white;
    
    &:hover {
      background: darken($pink-hover, 5%);
    }
  }
}