@import '../../../app/globals.scss';
.border-form-input {
    width: 100%;
}

.color-input {
    &--purple {
        &:focus {
            border-color: $purple-button;
            box-shadow: 0 0 0 1px $purple-button;
        }
    }

    &--pink {
        &:focus {
            border-color: $pink-color;
            box-shadow: 0 0 0 1px $pink-color;
        }
    }
}