@import '../../../app/globals.scss';ok
.button-gnral{
    height: auto;
    width: auto;
    padding: 0 10px;
    border-radius: 20px;
    // gap: 8px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple-button;
    color:$white
}

.direction-portal{

    text-decoration: none;
}
