.button-gnral{
    height: 30px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: $purple-button;
    color:$white
}