@import '../../../app/globals.scss';
.header-page{
    width: 100%;
    height: 14.5vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // border: 1px solid blue;

}

.sub-header{
    // border: 1px solid red;
    display: flex;
    justify-content:space-between;
    align-items: center;
}